<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不给红包就捣蛋</string>
	<string>贪玩蓝月 启动</string>
	<string>不要欺负人家好不啦</string>
	<string>我偏要无理取闹</string>
	<string>万物皆可盘</string>
	<string>今儿我就要盘你</string>
	<string>盘就完了</string>
	<string>只要我吃的够快，体重就追不上我</string>
	<string>我可真是个小机灵鬼儿</string>
	<string>别是个傻子吧</string>
	<string>我妈不让我跟傻子玩</string>
	<string>服了服了，我的花呗归你了</string>
	<string>你是想笑死我然后继承我的蚂蚁花呗？</string>
	<string>哪里来的野鸡给自己加戏</string>
	<string>你无耻的样子很有我年轻时的神韵</string>
	<string>当初就不应该下凡</string>
	<string>要亲亲要抱抱要举高高</string>
	<string>离我远点 我有SB恐惧症</string>
	<string>我迷人的五官就是你犯罪的开端</string>
	<string>你自拍真好看 我都看瞎了</string>
	<string>我和你无冤无仇  为何你要在我面前装逼</string>
	<string>劳资是祖国的花朵 你是个什么东西</string>
	<string>有话好好说 千万别发自拍</string>
	<string>你将失去你的宝宝</string>
	<string>很好你成功引起了我的注意</string>
	<string>暗中观察</string>
	<string>有句妈卖批不知当讲不当讲</string>
	<string>不听不听王八念经</string>
	<string>我能怎么办 我也很绝望呀</string>
	<string>你的良心不会痛吗？</string>
	<string>嘘寒问暖不如打笔巨款</string>
	<string>你毁了我容忍SB的能力</string>
	<string>我这么单纯 你套路却那么深</string>
	<string>我好心好意骗你 你为什么不相信我</string>
	<string>每次跟楼上说话一股智商上的优越感悄然而生</string>
	<string>自古深情留不住，总是套路得人心</string>
	<string>隔着屏幕都能感觉到你的丑</string>
	<string>你好漂漂哦~</string>
	<string>做人如果不污 和咸鱼有什么区别</string>
	<string>小姐姐，我要看咪咪</string>
	<string>我有一句话不知当讲不当讲</string>
	<string>你这图很不错，可惜下一秒就是我的了</string>
	<string>说出来你可能不信，是零食先动的手</string>
	<string>看在你丑的份上就当你是对的吧</string>
	<string>要十瓶香槟</string>
	<string>我克制能力很强的  比其他男的都强</string>
	<string>你这样很容易吃亏的 不过我喜欢</string>
	<string>我有一个不成熟的小建议</string>
	<string>希望有关部门管管</string>
	<string>你行你上啊</string>
	<string>我被自己美翻了</string>
	<string>你知道自己夺大了吗？！</string>
	<string>让我疯让我去放纵</string>
	<string>好烦哦，为什么我要这么帅</string>
	<string>辣眼睛</string>
	<string>紫薇，等一下！</string>
	<string>目瞪口呆</string>
	<string>你咋不上天呢？你咋不和太阳肩并肩？</string>
	<string>多说无益，你先把头伸过来 </string>
	<string>呵呵</string>
	<string>哦</string>
	<string>阁下何不因风起，扶摇直上九万里</string>
	<string>什么？说大点声我眼睛不好</string>
	<string>把自己灌醉却又被帅醒</string>
	<string>你这是和女神说话的态度？</string>
	<string>世界那么大，为何帅的偏偏是我</string>
	<string>我得了不吃饱就睡不着的病</string>
	<string>听说你暗恋我</string>
	<string>你们地球人真愚蠢</string>
	<string>少装逼 多吃药</string>
	<string>你是不是在外面有人了</string>
	<string>看在你丑的份上就当你是对的吧</string>
	<string>不能因为我超可爱，你们就欺负我</string>
	<string>年仅九岁的我实在看不下去了</string>
	<string>智慧的凝视</string>
	<string>反了你，敢跟爸爸斗图！</string>
	<string>总有刁民想害朕</string>
	<string>来呀！互相伤害啊！</string>
	<string>略略略</string>
	<string>对方接住了你的狗</string>
	<string>对方不想和你说话，并且向你扔了只狗</string>
	<string>然而我早已看穿了一切</string>
	<string>你咋不上天呢</string>
	<string>一白遮三丑 一胖毁所有</string>
	<string>我差不多是条咸鱼了</string>
	<string>你居然在屎里下毒！</string>
	<string>你死心吧，我是不会喜欢你的</string>
	<string>别逼我把你上交给国家</string>
	<string>啊，好变态</string>
	<string>瞅你咋地！</string>
	<string>你瞅啥？</string>
	<string>我的自拍是不是帅到你了</string>
	<string>因吹斯挺</string>
	<string>蛋蛋表情，你懂得</string>
	<string>这对于纯洁的我来说，实在是太下流了</string>
	<string>Interesting</string>
	<string>你竟然敢跟我小学生作对，你不知道我哥已经初一了么！</string>
	<string>快给我摸咪咪，不然我不理你了</string>
	<string>我是新来的，但是我不想交保护费</string>
	<string>好图，我收下了！</string>
	<string>我说了屎里有毒，你偏要吃</string>
	<string>学会BB再BB</string>
	<string>一派胡言</string>
	<string>什么？你吃翔噎住了？</string>
	<string>等我小学毕业，有你们好看！</string>
	<string>我装作听不懂的样子</string>
	<string>我得了一上学就要崩溃的病</string>
	<string>可你，无可奈何</string>
	<string>23333</string>
	<string>666666</string>
	<string>套路玩的深  谁把谁当真</string>
	<string>全TM是套路</string>
	<string>我走过最长最远的路 就是你的套路</string>
	<string>多一点真诚，少一点套路！</string>
	<string>我说我不帅他们就打我，还说我虚伪</string>
	<string>最后问你一遍，你的毛片放在哪个盘？</string>
	<string>一个人叫休息，两个人才叫睡觉</string>
	<string>我的内心毫无波动，甚至还想笑</string>
	<string>你知错了吗</string>
	<string>人丑就要多读书</string>
	<string>做人如果不污，和咸鱼有什么区别</string>
	<string>选择无视我，你就是暗恋我</string>
	<string>楼上放屁啦</string>
	<string>长这么丑还发自拍</string>
	<string>我是年轻人我要睡了</string>
	<string>滚去睡觉</string>
	<string>你们看着我可爱的眼神</string>
	<string>我还是个孩子啊</string>
	<string>智慧的眼神</string>
	<string>静静的凝视</string>
	<string>一般人污不出我这个境界</string>
	<string>你这张图老子早就有了</string>
	<string>介绍个对象给我，不然我就退群了</string>
	<string>走，去小树林坐坐</string>
	<string>你是不是喜欢我</string>
	<string>我觉得我很委屈</string>
	<string>这并没有什么卵用</string>
	<string>前辈！在下对你装的这个必有不同的看法</string>
	<string>如果你像我一样英俊，你就不会爱吃屎了</string>
	<string>是在下输了</string>
	<string>晚上开黑？</string>
	<string>一脸懵逼</string>
	<string>睡你麻痹，起来嗨！</string>
	<string>你的贱气打到我了</string>
	<string>妖孽，看剑！</string>
	<string>你懂我！</string>
	<string>食屎啦你</string>
	<string>看，那个孩子在装逼呢！</string>
	<string>有没有把你爹放在眼里！</string>
</array>
</plist>
